---
import { UIIcon } from '@semantic-ui/core';
import Body from './Body.astro';
import Sidebar from '@components/Sidebar.astro';
import DocsMasthead from '@components/DocsMasthead.astro';
import TopBar from '@components/TopBar.astro';
import DocsRail from '@components/DocsRail.astro';
import './Layout.css';

let {
	title,
	header,
	headerIcon,
	description,
	id,
	menu,
	inlineHeader,
	textContent,
	expandRailMenu,
	railMenuScrollOffset,
	railMenu
} = Astro.props;
header = header || title;
---
<Body title={title} description={description}>
	<TopBar></TopBar>
	<layout id={id}>
		<Sidebar/>
		<page class={textContent ? 'text-content centered' : 'centered'}>
			<slot name="masthead">
				{inlineHeader != 'true' && (
					<DocsMasthead header={title} description={description} menu={menu}/>
				)}
			</slot>
			<main>
				<ui-container>
					<rail class="ui close right rail">
						<slot name="rail">
							<DocsRail menu={railMenu} useAccordion={expandRailMenu != 'true'} scrollOffset={railMenuScrollOffset} />
						</slot>
					</rail>
					<pageContent>
						{inlineHeader == 'true' && header && (
							<h2>
								{headerIcon !== undefined && (<UIIcon icon={headerIcon}></UIIcon>)}<span class="text">{header}</span>
							</h2>
						)}
						<slot />
					</pageContent>
				</ui-container>
			</main>
		</page>
	</layout>
</Body>
