---
import '../css/layers.css';
import '../css/fonts.css';

import { UIIcon } from '@semantic-ui/core';
import Body from './Body.astro';
import Sidebar from '@components/Sidebar.astro';
import DocsMasthead from '@components/DocsMasthead.astro';
import TopBar from '@components/TopBar.astro';
import DocsRail from '@components/DocsRail.astro';
import SiteMobileMenu from '@components/SiteMobileMenu.astro';
import { getPageTraversalLinks } from '@helpers/navigation.js';

import './Layout.css';

let {
	title,
	header,
	headerIcon,
	description,
	id,
	searchMeta,
	menu,
	inlineHeader,
	textContent,
	expandRailMenu,
	railMenuScrollOffset,
	railMenu,
	showPageTraversal
} = Astro.props;

header = header || title;

showPageTraversal = 'true';

const pageTraversal = await getPageTraversalLinks({
	url: Astro.url.pathname
});

const activeURL = Astro.url.pathname;
---
<Body title={title} description={description} searchMeta={searchMeta}>
	<TopBar></TopBar>
	<layout id={id}>
		<Sidebar/>
		<page class={textContent ? 'text-content' : ''}>
			<slot name="masthead">
				{inlineHeader != 'true' && (
					<DocsMasthead header={title} description={description} menu={menu}/>
				)}
			</slot>
			<main data-pagefind-body>
				<ui-container>
					<rail class="ui close right rail">
						<slot name="rail">
							<DocsRail menu={railMenu} useAccordion={expandRailMenu != 'true'} scrollOffset={railMenuScrollOffset} />
						</slot>
					</rail>
					<pageContent>
						{inlineHeader == 'true' && header && (
							<h1>
								{headerIcon !== undefined && (<UIIcon icon={headerIcon} disabled></UIIcon>)} <span class="text">{header}</span>
							</h1>
						)}
						<slot />
					</pageContent>
				</ui-container>
				{showPageTraversal == 'true' && pageTraversal && (pageTraversal.previous || pageTraversal.next) && (
					<div class="traversal">
						<ui-container>
							{pageTraversal.previous && (
								<ui-card href={pageTraversal.previous} previous>
		              <div class="label">
		                <ui-icon icon="left chevron"></ui-icon>
		                Previous
		              </div>
		              <div class="header">
		                {pageTraversal.previous.name}
		              </div>
								</ui-card>
							)}
							{pageTraversal.next && (
								<ui-card href={pageTraversal.next.url} next>
		              <div class="label">
		                Next
		                <ui-icon icon="right chevron"></ui-icon>
		              </div>
		              <div class="header">
		                {pageTraversal.next.name}
		              </div>
								</ui-card>
							)}
						</ui-container>
					</div>
				)}
			</main>
		</page>
	</layout>
	<SiteMobileMenu></SiteMobileMenu>
</Body>
