---

import { tokenize, toTitleCase } from '@semantic-ui/utils';
import { CodeExample } from '@components/CodeExample/CodeExample.js';
import UIComponent from '@components/UIComponent.astro';

const { spec, plural, definition, componentName } = Astro.props;

const sections = ['types', 'content', 'states', 'variations'];
---
{sections.map((section) => (
  <>
    <h2>{toTitleCase(section)}</h2>
    {definition[section].map((type) => (
      <>
        {type.examples.map((example, index) => (
          <>
            <CodeExample client:load
              title={(index == 0) ? type.title : undefined }
              description={type.description}
              code={example.code}
              showCode={example.showCode}
              class={tokenize(type.title)}
              id={tokenize(type.title) + '-example'}
            >
              {example.components.map((component) => (
                (component.componentName)
                  ? (<UIComponent name={componentName} attributes={component.attributes}><Fragment set:html={component.html} /></UIComponent>)
                  : (<Fragment set:html={component.html} />)
              ))}
            </CodeExample>
          </>
        ))}
      </>
    ))}
  </>
))}
